* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.memory-game {
  background-color: #bff1ff;
  width: 740px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
